In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import scipy.stats as stats
import statsmodels.stats
import math
from statsmodels.tsa.stattools import adfuller
import seaborn as sns
import itertools
from statsmodels.stats.stattools import durbin_watson
pd.options.display.float_format = '{:.6f}'.format # displayformat -> sientific to float
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
pip install pandoc

Collecting pandoc
  Downloading pandoc-1.0.2.tar.gz (488 kB)
Requirement already satisfied: ply in c:\users\hpspectre\anaconda3new\lib\site-packages (from pandoc) (3.11)
Building wheels for collected packages: pandoc
  Building wheel for pandoc (setup.py): started
  Building wheel for pandoc (setup.py): finished with status 'done'
  Created wheel for pandoc: filename=pandoc-1.0.2-py3-none-any.whl size=19996 sha256=1060b31913cdef1ee72f4168e1df6fc948ac006f9b64dc3d96b7448b3afed3bf
  Stored in directory: c:\users\hpspectre\appdata\local\pip\cache\wheels\a4\b9\34\3e82b9444401c2199d721240a388499a262d2e2ad37f6f3fa7
Successfully built pandoc
Installing collected packages: pandoc
Successfully installed pandoc-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
df=pd.read_csv('output_table_log.csv', sep=",", encoding='cp1252')
df=df.rename(columns={'Unnamed: 0':'ID'}, inplace = False) 
#df.set_index('ID', inplace=True)
df.head()

,ID,params.const,params.Gold_log,params.Silver_log,params.Palladium_log,params.Platinum_log,params.OIL_log,params.MSCI_log,params.FTSE_100_log,params.NASDAQ_log,...,pvalues.FTSE_100_log,pvalues.NASDAQ_log,pvalues.DAX_log,pvalues.SMI_log,rsquared,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm,heteroscedasticity_lm_pvalue
0,BTC1,-0.002156,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,0.000000,0.000000,-2859.842128,2.125349,0.000000,nan
1,BTC2,-0.001529,1.089562,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,0.052061,0.050840,-2899.438198,2.147744,8.624673,0.003316
2,BTC3,-0.001708,nan,0.569069,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,0.066648,0.065446,-2911.503352,2.134560,4.900484,0.026849
3,BTC4,-0.001782,nan,nan,0.387806,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,0.043522,0.042290,-2892.461460,2.148773,35.435763,0.000000
4,BTC5,-0.001968,nan,nan,nan,0.610004,nan,nan,nan,nan,...,nan,nan,nan,nan,0.060781,0.059571,-2906.628109,2.130604,31.543459,0.000000

In [3]:
# separate all Data into new Dataframes
dfBTC = df.loc[df['ID'].str.startswith('BTC')].copy()
dfBCH = df.loc[df['ID'].str.startswith('BCH')].copy()
dfLTC = df.loc[df['ID'].str.startswith('LTC')].copy()
dfETH = df.loc[df['ID'].str.startswith('ETH')].copy()
dfEUR= df.loc[df['ID'].str.startswith('EUR')].copy()
dfCHF = df.loc[df['ID'].str.startswith('CHF')].copy()
dfGBP = df.loc[df['ID'].str.startswith('GBP')].copy()
dfRUB = df.loc[df['ID'].str.startswith('RUB')].copy()
dfYEN = df.loc[df['ID'].str.startswith('YEN')].copy()
dfSEK= df.loc[df['ID'].str.startswith('SEK')].copy()

In [4]:
cols = list(df.columns.values)
cols

['ID',
 'params.const',
 'params.Gold_log',
 'params.Silver_log',
 'params.Palladium_log',
 'params.Platinum_log',
 'params.OIL_log',
 'params.MSCI_log',
 'params.FTSE_100_log',
 'params.NASDAQ_log',
 'params.DAX_log',
 'params.SMI_log',
 'bse.const',
 'bse.Gold_log',
 'bse.Silver_log',
 'bse.Palladium_log',
 'bse.Platinum_log',
 'bse.OIL_log',
 'bse.MSCI_log',
 'bse.FTSE_100_log',
 'bse.NASDAQ_log',
 'bse.DAX_log',
 'bse.SMI_log',
 'pvalues.const',
 'pvalues.Gold_log',
 'pvalues.Silver_log',
 'pvalues.Palladium_log',
 'pvalues.Platinum_log',
 'pvalues.OIL_log',
 'pvalues.MSCI_log',
 'pvalues.FTSE_100_log',
 'pvalues.NASDAQ_log',
 'pvalues.DAX_log',
 'pvalues.SMI_log',
 'rsquared',
 'rsquared_adj',
 'aic',
 'autocorrelation',
 'heteroscedasticity_lm',
 'heteroscedasticity_lm_pvalue']

# Analysis of BTC

In [5]:
dfBTC.set_index('ID', inplace=True)
dfBTC=dfBTC[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfBTC.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [6]:
dfBTC.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
BTC859,0.093838,-2929.544443,2.121439,0.000000
BTC979,0.093615,-2928.364147,2.119788,0.000000
BTC1019,0.093588,-2927.353543,2.105656,0.000000
BTC989,0.093321,-2928.111845,2.105553,0.000000
BTC980,0.093113,-2927.933345,2.113528,0.000000

# Analysis of BCH

In [7]:
dfBCH.set_index('ID', inplace=True)
dfBCH=dfBCH[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfBCH.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [8]:
dfBCH.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
BCH916,0.052869,-2224.028143,1.866285,0.002758
BCH1002,0.052642,-2222.852846,1.864550,0.003916
BCH998,0.051704,-2222.083086,1.865558,0.005479
BCH980,0.051638,-2222.028497,1.866247,0.004827
BCH1022,0.051553,-2220.971337,1.863387,0.007732

# Analysis of LTC

In [9]:
dfLTC.set_index('ID', inplace=True)
dfLTC=dfLTC[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfLTC.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [10]:
dfLTC.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
LTC449,0.069688,-2384.330718,2.166213,0.008632
LTC916,0.069563,-2382.243710,2.160217,0.023206
LTC723,0.069432,-2383.124580,2.156528,0.019481
LTC645,0.069278,-2382.995772,2.166490,0.002363
LTC863,0.069150,-2381.899026,2.156008,0.005641

# Analysis of ETH

In [11]:
dfETH.set_index('ID', inplace=True)
cols = list(dfETH.columns.values)
dfETH=dfETH[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfETH.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [12]:
dfETH.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
ETH1002,0.074711,-2519.003193,2.180549,0.000000
ETH989,0.074576,-2518.889602,2.178902,0.000000
ETH916,0.074543,-2519.851247,2.180622,0.000000
ETH1019,0.074233,-2517.613300,2.179653,0.000000
ETH980,0.074176,-2518.553701,2.179709,0.000000

# Analysis of EUR

In [13]:
dfEUR.set_index('ID', inplace=True)
dfEUR=dfEUR[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfEUR.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [14]:
dfEUR.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
EUR888,0.246729,-6869.567112,2.040197,0.000051
EUR884,0.246673,-6869.508835,2.030583,0.000079
EUR991,0.246422,-6868.261074,2.041587,0.000124
EUR675,0.246012,-6869.816385,2.020468,0.000028
EUR969,0.245952,-6867.775256,2.031454,0.000080

# Analysis of CHF

In [15]:
dfCHF.set_index('ID', inplace=True)
cols = list(dfCHF.columns.values)
dfCHF=dfCHF[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfCHF.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [16]:
dfCHF.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
CHF990,0.287724,-6878.405137,1.958093,0.021817
CHF884,0.287605,-6879.264032,1.960305,0.006242
CHF969,0.287492,-6878.151190,1.962164,0.015299
CHF1014,0.287462,-6877.131074,1.959731,0.042775
CHF1021,0.287191,-6876.835032,1.950205,0.020376

# Analysis of GBP

In [17]:
dfGBP.set_index('ID', inplace=True)
cols = list(dfGBP.columns.values)
dfGBP=dfGBP[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfGBP.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [18]:
dfGBP.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
GBP711,0.174499,-6160.731598,1.956020,0.000001
GBP906,0.173623,-6158.916100,1.949706,0.000003
GBP851,0.173493,-6158.793114,1.957163,0.000001
GBP908,0.173436,-6158.739783,1.955653,0.000003
GBP910,0.173431,-6158.735071,1.956444,0.000000

# Analysis of RUB

In [19]:
dfRUB.set_index('ID', inplace=True)
cols = list(dfRUB.columns.values)
dfRUB=dfRUB[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfRUB.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [20]:
dfRUB.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
RUB1004,0.348215,-5684.133762,2.137970,0.000000
RUB1022,0.347856,-5682.717358,2.135739,0.000000
RUB1021,0.347385,-5682.155333,2.138317,0.000000
RUB927,0.347087,-5683.776962,2.131333,0.000000
RUB1024,0.347037,-5680.754361,2.136127,0.000000

# Analysis of YEN

In [21]:
dfYEN.set_index('ID', inplace=True)
cols = list(dfYEN.columns.values)
dfYEN=dfYEN[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfYEN.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [22]:
dfYEN.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
YEN989,0.440989,-6838.745720,2.062578,0.000000
YEN879,0.440934,-6839.658329,2.063085,0.000000
YEN984,0.440514,-6838.084896,2.065507,0.000000
YEN1020,0.440475,-6837.042820,2.064546,0.000000
YEN1019,0.440335,-6836.848961,2.064408,0.000000

# Analysis of SEK

In [23]:
dfSEK.set_index('ID', inplace=True)
cols = list(dfSEK.columns.values)
dfSEK=dfSEK[['rsquared_adj','aic','autocorrelation','heteroscedasticity_lm_pvalue']]
dfSEK.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)

In [24]:
dfSEK.head()

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
ID,,,,
SEK1022,0.222847,-6307.233784,2.005763,0.000000
SEK998,0.222675,-6308.048694,1.992545,0.000932
SEK1004,0.222457,-6307.831100,2.011297,0.000000
SEK1024,0.222160,-6305.559481,2.007526,0.000000
SEK927,0.221999,-6308.361112,1.996829,0.000791

  # New Dataframe with highest adjusted R^2

In [45]:
DF = pd.DataFrame(columns=['rsquared_adj', 'aic','autocorrelation','heteroscedasticity_lm_pvalue'])
#DF.set_index('ID')

In [46]:
DF=DF.append(dfBTC.head(1))
DF=DF.append(dfBCH.head(1))
DF=DF.append(dfLTC.head(1))
DF=DF.append(dfETH.head(1))
DF=DF.append(dfEUR.head(1))
DF=DF.append(dfCHF.head(1))
DF=DF.append(dfGBP.head(1))
DF=DF.append(dfRUB.head(1))
DF=DF.append(dfYEN.head(1))
DF=DF.append(dfSEK.head(1))

In [47]:
DF.sort_values(by=['rsquared_adj'], ascending=False, inplace = True)
DF

,rsquared_adj,aic,autocorrelation,heteroscedasticity_lm_pvalue
YEN989,0.440989,-6838.745720,2.062578,0.000000
RUB1004,0.348215,-5684.133762,2.137970,0.000000
CHF990,0.287724,-6878.405137,1.958093,0.021817
EUR888,0.246729,-6869.567112,2.040197,0.000051
SEK1022,0.222847,-6307.233784,2.005763,0.000000
GBP711,0.174499,-6160.731598,1.956020,0.000001
BTC859,0.093838,-2929.544443,2.121439,0.000000
ETH1002,0.074711,-2519.003193,2.180549,0.000000
LTC449,0.069688,-2384.330718,2.166213,0.008632
BCH916,0.052869,-2224.028143,1.866285,0.002758

In [48]:
DF= DF.rename(columns={'rsquared_adj': 'aR^2', 'aic': 'AIC','autocorrelation': 'autocorr','heteroscedasticity_lm_pvalue': 'Heteroscedasticity' })

In [49]:
DF

            aR^2          AIC  autocorr  Heteroscedasticity
YEN989  0.440989 -6838.745720  2.062578            0.000000
RUB1004 0.348215 -5684.133762  2.137970            0.000000
CHF990  0.287724 -6878.405137  1.958093            0.021817
EUR888  0.246729 -6869.567112  2.040197            0.000051
SEK1022 0.222847 -6307.233784  2.005763            0.000000
GBP711  0.174499 -6160.731598  1.956020            0.000001
BTC859  0.093838 -2929.544443  2.121439            0.000000
ETH1002 0.074711 -2519.003193  2.180549            0.000000
LTC449  0.069688 -2384.330718  2.166213            0.008632
BCH916  0.052869 -2224.028143  1.866285            0.002758

# VIF calculation

In [28]:
df_vif=pd.read_csv('AQSDataLog.csv', sep=',')
df_vif['Date'] = pd.to_datetime(df_vif['Date']) # change to datetime
df_vif.set_index('Date', inplace=True) #index 
df_vif = df_vif.rename(columns={'FTSE 100': 'FTSE_100', 'FTSE 100_log': 'FTSE_100_log'})
dflog_vif = df_vif.drop(['BTC','BCH','LTC', 'ETH','EUR', 'CHF', 'GBP', 'RUB', 'YEN', 'SEK', 'Gold', 'Silver','Palladium','Platinum','OIL',
                'MSCI', 'FTSE_100','NASDAQ','DAX', 'SMI'], axis=1)
dflog_vif.dropna(inplace=True)

In [29]:
dflog_vif.head()

,BTC_log,BCH_log,LTC_log,ETH_log,EUR_log,CHF_log,GBP_log,RUB_log,YEN_log,SEK_log,Gold_log,Silver_log,Palladium_log,Platinum_log,OIL_log,MSCI_log,FTSE_100_log,NASDAQ_log,DAX_log,SMI_log
Date,,,,,,,,,,,,,,,,,,,,
2020-12-31,-0.009362,0.010226,-0.011779,0.012461,0.000082,0.000000,0.000146,0.000000,0.000388,0.000852,-0.000850,-0.000061,-0.000241,-0.002298,0.000000,-0.001402,0.000000,0.000000,0.000000,0.000000
2020-12-30,-0.002646,0.036381,0.027427,0.012508,0.006692,-0.004643,-0.003737,0.004700,-0.000678,-0.002242,-0.001646,0.009500,-0.035419,-0.000099,-0.009880,-0.001345,0.007118,0.003655,0.000000,0.000000
2020-12-29,-0.072352,-0.020447,-0.010643,-0.032383,-0.003912,0.003739,-0.008996,-0.003738,0.003773,-0.000329,-0.008154,-0.016337,-0.014855,-0.015593,0.003766,-0.001436,-0.015344,0.000762,0.008859,-0.007741
2020-12-28,-0.011528,0.027003,0.022260,0.003322,-0.002698,0.004626,-0.003785,-0.005113,0.002122,0.007684,-0.003628,-0.000718,-0.001667,-0.017643,-0.002377,-0.006596,-0.000979,-0.007455,-0.006820,-0.011706
2020-12-27,0.006147,-0.031632,0.016452,-0.053952,-0.000819,0.000563,0.007334,0.007128,-0.002895,-0.003045,0.002474,-0.011921,0.010854,-0.007282,0.000000,-0.000677,0.000000,-0.011441,-0.023677,-0.008828

In [30]:
print(dflog_vif.columns.values)

['BTC_log' 'BCH_log' 'LTC_log' 'ETH_log' 'EUR_log' 'CHF_log' 'GBP_log'
 'RUB_log' 'YEN_log' 'SEK_log' 'Gold_log' 'Silver_log' 'Palladium_log'
 'Platinum_log' 'OIL_log' 'MSCI_log' 'FTSE_100_log' 'NASDAQ_log' 'DAX_log'
 'SMI_log']

In [31]:
# independent Variables
X = dflog_vif[['Gold_log', 'Silver_log', 'Palladium_log','Platinum_log', 'OIL_log',
          'MSCI_log', 'FTSE_100_log', 'NASDAQ_log', 'DAX_log', 'SMI_log']]
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]

In [32]:
vif_data

         feature      VIF
0       Gold_log 2.631759
1     Silver_log 3.319487
2  Palladium_log 1.569880
3   Platinum_log 2.151781
4        OIL_log 1.147481
5       MSCI_log 3.159347
6   FTSE_100_log 3.343956
7     NASDAQ_log 1.880178
8        DAX_log 2.072831
9        SMI_log 2.491285

In [52]:
vif_data.set_index(['feature'])

                   VIF
feature
Gold_log      2.631759
Silver_log    3.319487
Palladium_log 1.569880
Platinum_log  2.151781
OIL_log       1.147481
MSCI_log      3.159347
FTSE_100_log  3.343956
NASDAQ_log    1.880178
DAX_log       2.072831
SMI_log       2.491285